# ----------------------
# Prisma Specifics
# ----------------------
# Environment variables containing secrets (DB URL, API Keys)
.env
.env.local
.env.*.local

# SQLite database files (if you are using SQLite)
*.sqlite
*.sqlite3
*.db
*.db-journal

# ----------------------
# Node.js & Dependencies
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json # Keep this if you use npm, ignore if using yarn/pnpm exclusively and want to reduce noise
yarn.lock # Keep this if using Yarn
pnpm-lock.yaml # Keep this if using pnpm

# ----------------------
# Build & Output
# ----------------------
dist/
build/
coverage/

# ----------------------
# OS & Editor Configs
# ----------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
/generated/prisma
.vercel


import { Router } from "express";
import { OrderController } from "./orders.controller";
import auth, { UserRole } from "../../middleware/auth.middleware";

const router = Router();

//? Place a new order
router.post("/", auth(), OrderController.placeOrder);

//? Get orders (Customer sees theirs, Provider sees their restaurant's, Admin sees all)
router.get("/my", auth(), OrderController.getMyOrders);

//? Get order by ID
router.get("/:orderId", auth(), OrderController.getOrderById);

//? Update order status
router.patch(
  "/status/:orderId",
  auth(UserRole.PROVIDER, UserRole.ADMIN),
  OrderController.updateStatus,
);

//? Customer cancels their own order
router.patch("/cancel/:orderId", auth(), OrderController.cancelOrder);

export const orderRoutes = router;
